/* Global footer */

#footer {
  background-color: $footer-background;

  .footer-wrapper {
    @extend %site-width-container;
    background-color: $footer-background;
    padding-top: 30px;
  }

  a {
    color: $footer-link;

    &:hover {
      color: $footer-link-hover;
    }
  }

  h2 {
    @include core-20;
    font-weight: bold;
    color: $text-colour;
    margin: 0;

    a {
      color: inherit;
    }
  }

  .footer-logo {
    img.logo {
      max-width: 218px;
      padding-top: 0.1em;
    }
    margin: 0 0 30px 0;

    @include media(desktop) {
      display: inline-block;
      vertical-align:top;
      padding-right: 85px
    }
  }

  .open-government-licence {
    p {
      @include core-16;
      margin: 0;
      padding-top: 0.1em;
    }

    @include media(desktop) {
      display: inline-block;
    }

    ul {
      @include core-16($line-height: (24/16), $line-height-640: (24/16));
      display: inline-block;
      list-style: none;
      margin: 5px 0;
      padding: 0;
  
      @include media(desktop) {
        margin: 5px 0;
      }
  
      li {
        display: inline-block;
        margin: 0 15px 0 0;
  
        @include ie-lte(7) {
          display: inline;
          margin-right: 0;
          padding-right: 15px;
        }
      }
    }
  }

  .footer-meta {
    @extend %contain-floats;
    padding-bottom: 60px;
    clear: both;
    font-size: 0;
    color: $footer-text;

    .footer-meta-inner {
      display: inline-block;
      vertical-align: bottom;
      width: 100%;

      @include media(desktop) {
        width: 75%;
      }

      @include ie-lte(7) {
        float: left;
        display: block;
      }
    }

    .copyright {
      @include core-16;
      text-align: left;
      margin: 0 0 30px 0;
      width: 100%;
      display: block;
      vertical-align: top;

      @include media(desktop) {
        display: inline-block;
        text-align: inherit;
        width: 25%;
        padding-top: 0;
        margin-bottom: 0;
      }

      @include ie-lte(7) {
        float: right;
        height: 150px;
        width: 24%;
      }

      a {
        display: block;

        text-decoration: none;
      }
    }
  }
}
