// GOV.UK template colours

$proposition-border: #2e3133;
// Based on GOV.UK brand blue but slightly lighter so it hits contrast on the
// black header bar when used as copy colour.
$proposition-nav: #C1D0E2;
$proposition-active-nav: $white;

$user-nav: #C1D0E2;
$user-active-nav: $white;

$footer-background: #EAEAEA;
$footer-link: #005EA5;
$footer-link-hover: $black;
$footer-text: $black;

$header-background: #313133;